<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>World holidays</title>
</head>
<body>
<h1>World holidays</h1>
<p>The country with the most public holidays is Cambodia, at 28.</p>
<p>The country with the least public holidays is the United Kingdom, at 8. </p>
{{template "menu"}}
</body>
</html>